/* Mobile Style Sheet */

 @media (max-width:320px) {

   body {
     margin: 0;
     padding: 0;
   }

   #container {
     margin: 0;
     width: 320px;
     position: static;
     overflow: auto;
     }

  .teaser img {
    width: 320px;
    vertical-align: middle;
    margin-bottom: 5px;
  }


  #contact {
    position: static;
    right: 0;
    top: 0;
    float: none;
  }

  .photos li img {
    max-width: 320px;
    vertical-align: middle;
    margin-bottom: 5px;
    position: static;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  .aboutme {
    float: none;
  }

  img.aboutmepic {
    float: none;
    max-width: 260px;
  }

  nav {
    width: 320px;
    }


  nav ul {
    list-style-type: none;
    vertical-align: middle;
  }

  nav ul li {
    padding-left: 25px;
    display: block;
    margin: 0;

  }

  nav ul li:last-child {
    margin: 0;
  }

  .teaser p {
    margin: 0;
    width: 100%;
    position: absolute;
    bottom: 5px;
    margin-left: 1px;
    opacity: 1;
    visibility: visible;
    color: #fff;
    font-size: 30px;
    text-align: center;

  }



  .teaser p span {
    display: block;
    position: absolute;
    text-align:center;
    font-family: 'Josefin Slab', serif;
    color: #fff;
    font-size: 30px;

  }


  .teaser:hover p {
    background: rgba(0,0,0,0.5);
    visibility: hidden;
    opacity: 1;
    transition: visibility 0.75s, opacity 0.75s;
  }

  .aboutme {
    margin-left: 5px;
  }


}
